/*
    Assignment Module 9
    Author: Jared Bears
    Date:   02/21/2024
*/

.container {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
}

.month-list {
    width: 20%;
    padding: 50px 10px;
}

.month-list ul {
    list-style-type: none;
    padding: 5px;
}

.calendar-box {
    padding: 10px;
}

.calendar-box h2 {
    text-align: center;
}

#calendar {
    border: 1px solid blue;
}

#calendar th {
    background-color: lightgrey;
}

#calendar td.days {
    font-weight: bold;
    text-align: center;
    padding: 0px 25px;
}

#calendar td {
    background-color: lightgrey;
    text-align: center;
    padding: 25px;
}

.sunday {
    color: red;
}

.saturday {
    color: grey;
}

#today {
    background-color: yellow !important;
}

a:visited {
    color: blue;
}